HOST={{ proxy_host }}
PORT={{ proxy_port }}
PROXY="${HOST}:${PORT}"

export http_proxy="http://${PROXY}"
export https_proxy="https://${PROXY}"
export ftp_proxy="ftp://${PROXY}"
export HTTP_PROXY="http://${PROXY}"
export HTTPS_PROXY="https://${PROXY}"
export FTP_PROXY="ftp://${PROXY}"
export no_proxy="127.0.0.1,localhost"
export NO_PROXY="${no_proxy}"
